.login-main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
}
.login-details-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  width: 60%;
}
.login-heading {
  color: #7e22ce;
  font-family: "Roboto";
}
.login-description {
  color: #838383;
  text-align: center;
  font-size: 20px;
}
.login-image {
  height: 280px;
  width: 350px;
}
.button-text {
  color: white;
  font-weight: bold;
  font-size: 20px;
}
.new-project-button {
  background-color: #211935;
  border-width: 0px;
  border-radius: 8px;
  cursor: pointer;
  padding-right: 20px;
  padding-left: 20px;
  display: flex;
  flex-direction: row;
}
.icon-style {
  color: #f8f8f8;
  font-size: 24px;
  padding-top: 19px;
  padding-right: 10px;
}
.model-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.input-element {
  width: 200px;
  padding: 6px;
  outline: none;
  border-radius: 6px;
  border: 1px solid #838383;
  margin-top: 4px;
  margin-bottom: 4px;
}
.cancel-button-style {
  color: red;
  outline: none;
  border-width: 0px;
  background-color: transparent;
  margin-right: 10px;
  margin-top: 5px;
  font-weight: 500;
  cursor: pointer;
}
.create-button {
  background-color: #7e22ce;
  color: white;
  padding: 4px;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 6px;
}
